body, html{
  overflow-y: hidden;
}

.content-section{
  background-color: rgb(247, 247, 247, 1);
  border-radius: 5%;
  display: block;
  width: 66vh;
  height: 85vh;
  padding: 5%;
  position: relative;
  left: 55vh;
  display: table-cell;
  vertical-align: bottom;
}

.small{
  width: 50%;
  margin-left: 23vh;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

form, .border-top{
  margin-bottom: 5vh;
}

.picture{
  width: 40%;
  height: 40%;
}

.picture_div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

legend{
  font-size: 200%;
  font-weight: 500;
}
