body, html{
  overflow-y: hidden;
  overflow-x: hidden;
}

.content-section{
  background-color: rgb(247, 247, 247, 1);
  border-radius: 5%;
  display: block;
  width: 62vh;
  height: 85vh;
  padding: 5%;
  position: relative;
  left: 70vh;
  display: table-cell;
  vertical-align: bottom;
}

.center{
  display: flex;
  align-items: center;
  justify-content: center;
}

form, .border-top{
  margin-bottom: 5vh;
}

.picture{
  width: 40%;
  height: 40%;
}

.picture_div{
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 3vh;
}

legend{
  font-size: 200%;
  font-weight: 500;
}


@media(max-height: 800px) {
  .content-section{
    display: block;
    height: 85vh;
  }

  .small{
    position: relative;
    top: -3vh;
  }
}

@media (max-aspect-ratio: 16/9) {
  .content-section{
    left: -5vh;
    position: relative;
    display: block;
    margin: 0 auto;
    height: 89vh;
  }
  @media (pointer:none), (pointer:coarse) {
    .content-section{
      position: fixed;
      top: 7vh;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      border-radius: 0;
    }
  }
}

@media (pointer:none), (pointer:coarse) and (orientation: landscape){
  html, body{
    overflow: scroll;
  }

  .content-section{
    overflow: scroll;
  }

  .picture{
    width: 30%;
    height: 30%;
  }
}
