@import url(https://fonts.googleapis.com/css?family=Lato:100,300,400,700);

body, html{
  background-image: url("../../backgrounds/landing_bg.jpg");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  font-size: 110%;
}

@media (max-aspect-ratio: 16/9) and (min-width: 1200px){
  body, html{
    background-image: url("../../backgrounds/mobile_bg.png");
  }
}

#wrap {
  margin: 0px 10px;
  display: inline-block;
  position: relative;
  height: 53px;
  float: right;
  padding: 0;
  position: relative;
}

#search {
  height: 48px;
  display: inline-block;
  font-weight: 100;
  border: none;
  outline: none;
  color: white;
  padding: 3px;
  padding-right: 60px;
  width: 0px;
  position: absolute;
  top: 0;
  right: 0;
  background: none;
  z-index: 3;
  transition: width .4s cubic-bezier(0.000, 0.795, 0.000, 1.000);
  cursor: pointer;
}

#search:focus:hover {
  border-bottom: 1px solid white;
}

#search:focus {
  width: 500px;
  z-index: 1;
  border-bottom: 1px solid white;
  cursor: text;
}

#search::placeholder{
  color: white;
}

#search_submit {
  height: 67px;
  width: 63px;
  display: inline-block;
  color: white;
  float: right;
  background: url("../icons/search-solid.svg") center center no-repeat;
  background-size: 40%;
  text-indent: -10000px;
  outline: none;
  border: none;
  position: absolute;
  top: -0.6vh;
  right: 0;
  z-index: 2;
  cursor: pointer;
  opacity: 0.4;
  cursor: pointer;
  transition: opacity .4s ease;
}

#search_submit:hover {
  opacity: 0.8;
}

.no_border{
  border-width: 0px;
}

.navbar-toggler:focus{
  outline: none;
}

