body, html{
    background-image: url("../../backgrounds/home_bg.jpg");
    height: 100%;
    width: 100%;
    scroll-behavior: smooth;
}


html::-webkit-scrollbar {
    display: none;
}


html {
    -ms-overflow-style: none;  /* IE and Edge */
    scrollbar-width: none;  /* Firefox */
}

.no_border{
    display: flex;
    align-items: center;
    height: 70%;
    margin-top: auto;
    margin-bottom: auto;
    color: #777;
}

.navbar {
    background-color: rgb(28, 22, 22, 0.91) !important;
    top: -100px;
    transition: top 0.3s;
}

main{
    height: 90vh;
}

.col-md-12{
    height: 90vh;
    display: flex;
    justify-content: center;
}

#main_content{
    background-color: rgb(28, 22, 22, 0.91);
    background-attachment: fixed;
    min-height: 92vh;
    width: 55%;
    position: absolute;
    top: -2vh;
    border-top: none;
    opacity: 0;
}

.profile_img{
    width: 11vh;
    height: 11vh;
    margin-left: 4vh;
    cursor: pointer;
}

.row{
    width: 100%;
    margin: 0 auto;
}

.column{
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: left;
    border-color: rgb(197, 230, 255, 0.14) !important;
    color: white;
}

.text{
    width: 100%;
    height: 100%;
    margin-left: 2vh;
    padding: 2.5vh;
    cursor: pointer;
}

.last_message{
    font-size: 1.5vw;
    font-weight: lighter;
    color: rgb(255,255,255, 0.7);
}

.name{
    font-size: 2vw;
    font-weight: 400;
}

.settings_div{
  width: 20%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-right: 5%;
}

.settings{
  width: 55%;
  opacity: 0.7;
  cursor: pointer;
  z-index: 1;
  transition: all 0.5s ease-out;
  float: right;
}

.settings_hover{
  transform: rotate(270deg);
  width: 90%;
}


.settings_wrapper{
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: flex-start;
}

.settings_inner_div{
  display: flex;
  align-items: center;
  margin-left: auto;
  margin-right: 3%;
  width: 30%;
  height: 20%;
  margin-top: 2%;
  align-content: right;
  justify-content: flex-end;
}

.remove{
  background-color: red;
  width: 0%;
  opacity: 0;
  height: 100%;
  border-bottom-left-radius: 70px;
  border-top-left-radius: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
  transition-delay: 0.2s;
}

.remove_extended{
  width: 30%;
  opacity: 1;
}

.remove:hover{
  color: red;
  background-color: white;
}

.settings_inner_icon{
  text-align: center;
  width: 0%;
  opacity: 0;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-out;
}

.settings_extended{
  width: 40%;
  opacity: 1;
}

.settings_inner_icon:hover{
  color: black;
  background-color: white;
}

@media(min-width:1800px) and (min-height: 850px){
  #main_content{
    width: 75%;
    top: -2.5vh;
  }
}

@media (min-width: 1666px) and (min-height: 850px){
  #main_content{
    top: -3.5vh;
  }
}

@media (max-aspect-ratio: 16/9) {
  @media (min-height: 850px){
    #main_content{
      top: -3vh;
    }
  }

  @media (pointer:none), (pointer:coarse) {

    html, body{
      width: 100%;
      height: 100%;
      overflow-x: hidden;
    }

    .name{
      font-size: 6vw !important;
    }

    .last_message{
      font-size: 4vw !important;
    }

    #main_content{
      top: 0;
      height: 104vh !important;
      overflow-x: hidden;
    }

    main{
      overflow-x: hidden;
      height: 100vh;
    }
  }

  #search:focus{
    width: 55vh;
  }
}

@media (pointer:none), (pointer:coarse) and (orientation: landscape){
  html, body{
    width: 100%;
    height: 100%;
    overflow-x: hidden;
  }

  #main_content{
    margin-top: 0vh;
    left: 0%;
    top: 5vh !important;
    height: 104vh !important;
    overflow-x: hidden;
  }

  #search:focus{
    width: 200vh !important;
  }

  .column{
    height: 24vh;
  }

  .profile_img{
    width: 18vh;
    height: 18vh;
  }

  .name{
    margin-top: -1vh !important;
    font-size: 4.2vw !important;
  }

  .last_message{
    font-size: 3vw !important;
  }

  main{
    overflow-x: hidden;
    height: 100vh;
  }
  
  @media(max-height: 300px){
    #main_content{
      top: 27vh !important;
    }

    .column{
      height: 50vh;
    }

    .profile_img{
      width: 34vh;
      height: 34vh;
    }

    .text{
      margin-left: 3%;
    }
  }
}

@media (pointer:none), (pointer:coarse) and (orientation: portrait) and (max-height: 500px){
  #main_content{
    left: -17%;
    top: 2vh !important;
  }

  .column{
    height: 23vh;
  }

  .profile_img{
    width: 18vh;
    height: 18vh;
  }
}

@media (max-width: 991px){
  #main_content{
    width: 100%;
    top: -3.5vh;
  }

  .name{
    font-size: 3.2vw;
    margin-top: 1vh;
  }

  .last_message{
    font-size: 2vw;
    width: 150%;
    margin-top: 1vh;
  }

  @media (max-width: 800px){
      #main_content{
        width: 150%;
      }
  }
  @media (max-width: 760px){
      #main_content{
        width: 180%;
      }
  }
}

@keyframes hide_on_the_left {
	0% {
		opacity: 1;
    visibility: visible;
  }

	80% {
		transform: translateX(-100%);
	}

  90% {
    opacity: 0;
    transform: translateY(-120%);
  }

  100%{
    visibility: none;
    opacity: 0;
    transform: translateX(-120%);
  }
}

@keyframes hide_up {
	0% {
		opacity: 1;
    visibility: visible;
  }

	80% {
		transform: translateY(-100%);
	}

  90% {
    opacity: 0;
    transform: translateY(-100%);
  }

  100%{
    visibility: none;
    opacity: 0;
    transform: translateX(-100%);
  }
}

@keyframes slide_in{
  0%{
    opacity: 0;
    top: unset;
    bottom: -100vh;
  }
  5%{
    opacity: 1;
  }
  100%{
    opacity: 1;
    bottom: 0;
  }
}

.hide_left{
  animation: hide_on_the_left 0.6s ease-in-out 0s forwards;
}

.hide_up{
  animation: hide_up 0.3s ease-in-out 0.1s forwards;
}

.show{
  animation: slide_in 0.4s ease-in-out 0s forwards;
}

.settings_wrapper{
  pointer-events: none;
}

.settings_inner_div{
  pointer-events: all;
}