
body, html{
  overflow-x: hidden;
}

 .content_div{
   display: table;
   position: relative;
   left: 20vh;
   top: 25vh;
   color: white;
   text-align: center;
   width: 120%;
 }

 .dymki{
   position: relative;
   top: 9vh;
 }

 .inner {
   display: table-cell;
   vertical-align: middle;
   text-align: center;
 }

#main_text{
  margin-bottom: 6vh;
  font-size: 3.5vw;
}

.custom{
  height: 8vh;
  width: 20%;
  height: 120%;
  text-align: center;
}

span{
  font-size: 2vw;
  font-weight: 500;
  position: relative;
  top: 7%;
}

@media(min-height:900px){
  .dymki{
    top: 5vh;
    left: -5vh;
  }
  .content_div{
    left: 25vh;
  }
}

@media(max-width: 1200px) {
  .content_div{
    left: 15vh;
  }
} 

@media(max-width: 800px) {
  .content_div{
    left: 6vh;
    top: 30vh;
  }

  .custom{
    font-size: 3vw;
  }

  #main_text{
    font-size: 4vw;
  }
}

@media (max-aspect-ratio: 16/9){
  #main_text{
    font-size: 10vw;
  }

  .content_div{
    position: relative;
    display: block;
    left: -3vh;
    top: 22vh;
    margin: 0 auto;
  }

  .custom{
    width: 50%;
    height: 7vh;
  }

  span{
    font-size: 5vw;
  }

  #login_bt{
    position: absolute;
    left: -5%;
  }

  #register_bt{
    position: relative;
    left: 30%;
  }

  .dymki{
    position: relative;
    top: 4vh;
    left: -18vh;
  }
}


@keyframes wobble {

	33% {
		transform: translateX(-50px);
	}

	66% {
		transform: translateX(50px);
	}

}

@keyframes up {

	0% {
		opacity: 0;
	}

	2%, 38% {
		opacity: 1;
	}

	40% {
		opacity: 0;
		transform: translateY(-30vh);
	}

  100% {
    opacity: 0;
    transform: translateY(-30vh);
  }
}

.dymki{
  display: block;
  pointer-events: none;
}

.dymek1{
  position: relative;
  left: 50%;
  top: -10vh;
  width: 5vh;
  height: 5vh;
  animation: wobble 3s infinite ease-in-out;
}

.dymek2{
  position: relative;
  left: 70%;
  top: -15vh;
  width: 6vh;
  height: 6vh;
  animation: wobble 3s 1s infinite ease-in-out;
}
.dymek3{
  position: relative;
  left: 90%;
  top: -20vh;
  width: 4vh;
  height: 4vh;
  animation: wobble 3s 2s infinite ease-in-out;
}
.dymek4{
  position: relative;
  left: 100%;
  top: -22vh;
  width: 3vh;
  height: 3vh;
  animation: wobble 3s 1s infinite ease-in-out;
}
.dymek5{
  position: relative;
  top: -28vh;
  left: 130%;
  width: 5vh;
  height: 5vh;
  animation: wobble 3s 0.5s infinite ease-in-out;
}

.up1{
  opacity: 0;
  animation: up 7.5s infinite;
}
.up2{
  opacity: 0;
  animation: up 7.5s 6s infinite;
}
.up3{
  opacity: 0;
  animation: up 7.5s 8s infinite;
}
.up4{
  opacity: 0;
  animation: up 7.5s 2s infinite;
}
.up5{
  opacity: 0;
  animation: up 7.5s 4s infinite;
}
