{% extends 'base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'main/css/home.css' %}">
{% endblock links %}

{% block content %}
<div id="main_content">
  <div class="row">
    <div class="col-sm-12 border-bottom column" id="453633456455">
      <img src="{% static 'backgrounds/home_bg.jpg' %}" class="rounded-circle profile_img" alt="">
      <div class="text">
        <h2 class="name">Nazwa grupy</h2>
        <h4 class="last_message">Nick: Jakaś próbna wiadomość</h4>
      </div>
    </div>
    <div class="col-sm-12 border-bottom column" id="453633456455">
      <img src="{% static 'backgrounds/home_bg.jpg' %}" class="rounded-circle profile_img" alt="">
      <div class="text">
        <h2 class="name">Nazwa grupy</h2>
        <h4 class="last_message">Nick: Jakaś próbna wiadomość</h4>
      </div>
    </div>
    <div class="col-sm-12 border-bottom column" id="453633456455">
      <img src="{% static 'backgrounds/home_bg.jpg' %}" class="rounded-circle profile_img" alt="">
      <div class="text">
        <h2 class="name">Nazwa grupy</h2>
        <h4 class="last_message">Nick: Jakaś próbna wiadomość</h4>
      </div>
    </div>
    <div class="col-sm-12 border-bottom column" id="453633456455">
      <img src="{% static 'backgrounds/home_bg.jpg' %}" class="rounded-circle profile_img" alt="">
      <div class="text">
        <h2 class="name">Nazwa grupy</h2>
        <h4 class="last_message">Nick: Jakaś próbna wiadomość</h4>
      </div>
    </div>
    <div class="col-sm-12 border-bottom column" id="453633456455">
      <img src="{% static 'backgrounds/home_bg.jpg' %}" class="rounded-circle profile_img" alt="">
      <div class="text">
        <h2 class="name">Nazwa grupy</h2>
        <h4 class="last_message">Nick: Jakaś próbna wiadomość</h4>
      </div>
    </div>
    <div class="col-sm-12 border-bottom column" id="453633456455">
      <img src="{% static 'backgrounds/home_bg.jpg' %}" class="rounded-circle profile_img" alt="">
      <div class="text">
        <h2 class="name">Nazwa grupy</h2>
        <h4 class="last_message">Nick: Jakaś próbna wiadomość</h4>
      </div>
    </div>
    <div class="col-sm-12 border-bottom column" id="453633456455">
      <img src="{% static 'backgrounds/home_bg.jpg' %}" class="rounded-circle profile_img" alt="">
      <div class="text">
        <h2 class="name">Nazwa grupy</h2>
        <h4 class="last_message">Nick: Jakaś próbna wiadomość</h4>
      </div>
    </div>
    <div class="col-sm-12 border-bottom column" id="453633456455">
      <img src="{% static 'backgrounds/home_bg.jpg' %}" class="rounded-circle profile_img" alt="">
      <div class="text">
        <h2 class="name">Nazwa grupy</h2>
        <h4 class="last_message">Nick: Jakaś próbna wiadomość</h4>
      </div>
    </div>
    <div class="col-sm-12 border-bottom column" id="453633456455">
      <img src="{% static 'backgrounds/home_bg.jpg' %}" class="rounded-circle profile_img" alt="">
      <div class="text">
        <h2 class="name">Nazwa grupy</h2>
        <h4 class="last_message">Nick: Jakaś próbna wiadomość</h4>
      </div>
    </div>
    <div class="col-sm-12 border-bottom column" id="453633456455">
      <img src="{% static 'backgrounds/home_bg.jpg' %}" class="rounded-circle profile_img" alt="">
      <div class="text">
        <h2 class="name">Nazwa grupy</h2>
        <h4 class="last_message">Nick: Jakaś próbna wiadomość</h4>
      </div>
    </div>
  </div>

</div>
{% endblock content %}

{% block js_links %}
<script type="text/javascript" src="{% static 'main/js/home.js' %}"></script>
{% endblock js_links %}
