{% extends 'base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'main/css/new_group.css' %}">
  {% if settings %}
    <link rel="stylesheet" href="{% static 'main/css/settings.css' %}">
  {% endif %}
{% endblock links %}

{% block content %}
<div id="main_content">
    <div class="row">
      <div class="col-sm-12 top_column">
        <label for="file_input">
          <div class="group_icon_wrapper">
            <img src="{% static 'main/icons/group_icon.png' %}" id="group_icon">
          </div>
        </label>
        <input type="file" id="file_input">
        <div id="group_name_div">
            <input type="text" id="group_name_in" placeholder="Group name..." autocomplete='off' spellcheck='false' autocorrect='off'>
        </div>
        <div id="next_wrapper">
          <button id="next" class="not_clicked"><i class="fas fa-arrow-right"></i></button>
        </div>
      </div>
      <div class="col-sm-12 column_splitter" id="top">
        <div id="splitter"></div>
      </div>
      <div class="col-sm-12 column" id="top">
        <div class="person_bg">
            <img src="{% static 'backgrounds/home_bg.jpg' %}" class="person_profile_pic rounded-circle">
            <div class="person_name_bg">
                <h4 class="person_name">Name</h4>
                <button class="add_person" id='1'></button>
            </div>
        </div>
      </div>
      <div class="col-sm-12 column" id="top">
        <div class="person_bg">
            <img src="{% static 'backgrounds/home_bg.jpg' %}" class="person_profile_pic rounded-circle">
            <div class="person_name_bg">
                <h4 class="person_name">Name</h4>
                <button class="add_person" id='2'></button>
            </div>
        </div>
      </div>
      <div class="col-sm-12 column" id="top">
        <div class="person_bg">
            <img src="{% static 'backgrounds/home_bg.jpg' %}" class="person_profile_pic rounded-circle">
            <div class="person_name_bg">
                <h4 class="person_name">Name</h4>
                <button class="add_person" id='3'></button>
            </div>
        </div>
      </div>
      <div class="col-sm-12 column" id="top">
        <div class="person_bg">
            <img src="{% static 'backgrounds/home_bg.jpg' %}" class="person_profile_pic rounded-circle">
            <div class="person_name_bg">
                <h4 class="person_name">Name</h4>
                <button class="add_person" id='4'></button>
            </div>
        </div>
      </div>
      <div class="col-sm-12 column" id="top">
        <div class="person_bg">
            <img src="{% static 'backgrounds/home_bg.jpg' %}" class="person_profile_pic rounded-circle">
            <div class="person_name_bg">
                <h4 class="person_name">Name</h4>
                <button class="add_person" id='5'></button>
            </div>
        </div>
      </div>
    </div> 
</div>
{% endblock content %}

{% block js_links %}
  <script type="text/javascript" src="{% static 'main/js/new_group.js' %}"></script>
{% endblock js_links %}
