{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'users/css/login.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/transition.css' %}">
{% endblock links %}

{% block content %}
  <div class="transition transition-2 is-active"></div>

  <div class="content-section">
    {% if messages %}
      {% for message in messages %}
        <div class="alert alert-{{ message.tags }}">
          {{ message }}
        </div>
      {% endfor %}
    {% endif %}
    <form method="post">
      {% csrf_token %}
      <div class="picture_div">
        <img src="{% static 'main/icons/user_icon.png' %}" class="picture">
      </div>
      <fieldset class="form-group">
        <legend class="mb-4 text-center">Log In</legend>
        {{ form|crispy }}
        <div class="form-group center">
          <button type="submit" class="btn btn-outline-info mt-2 login_bt">Login</button>
        </div>
      </fieldset>
    </form>

    <div class="border-top pt-1 small">
      <small class="text-muted">Need an account? <a href="{% url 'register' %}">Sign Up Now</a></small>
    </div>

  </div>

  <script type="text/javascript" src="{% static 'main/js/transition.js' %}"></script>
{% endblock content %}
