{% extends 'base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock links %}

{% block content %}
<div id="main_content">
  <div class="row">
    <div class="col-sm-12" id="first_row">
        <div id="picture_and_nick_bg">
            <div id="img_wrapper">
                <img src="{% static 'backgrounds/home_bg.jpg' %}" class="rounded-circle" id="profile_pic">
                <div id="camera_icon">
                    <i class="fas fa-camera"></i>
                </div>
            </div>
            <div id="nick_wrapper">
                <h2 id="nick">Stasninja</h2>
                <i class="fas fa-pencil-alt"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-12" id="second_row">
        <div id="username_and_passwd_bg">
            <label>Email</label>
            <div class="input_wrapper">
                <input type="email" value="stanislaw.rajm@gmail.com" class="in"></input>
                <i class="fas fa-pencil-alt inside_input"></i>
            </div>
            <label class="passwd_label">Password</label>
            <div class="input_wrapper">
                <input type="password" value="**********" class="in"></input>
                <i class="fas fa-pencil-alt inside_input"></i>
            </div>
        </div>
    </div>
    <div class="col-sm-12" id="third_row">
        <div id="manage_adding_to_groups_bg">
            <label>Who can add you to a group?</label>
            <div id="manage_wrapper">
                <p>Everybody</p>
                <div id="switch"></div>
                <p>Only person I've started a conversation with</p>
            </div>
        </div>
    </div>
  </div> 
</div>
{% endblock content %}

{% block js_links %}
<script type="text/javascript" src="{% static 'users/js/profile.js' %}"></script>
{% endblock js_links %}
