{% extends 'base.html' %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'users/css/profile.css' %}">
{% endblock links %}

{% block content %}
<div id="main_content">
  <div class="row">
    <div class="col-sm-12" id="first_row">
        <div id="picture_and_nick_bg">
            <label for="img_input">
                <div id="img_wrapper">
                    <img src="{{ request.user.profile.image.url }}" class="rounded-circle" id="profile_pic">
                    <div id="camera_icon">
                        <i class="fas fa-camera"></i>
                    </div>
                </div>
            </label>
            <form action="/change_profile_image/" method="POST" id="image_form" enctype="multipart/form-data"> 
                {% csrf_token %}
                <input type="file" id="img_input" style="display: none;" name="img_input">
            </form>
            <div id="nick_wrapper"> 
                {% csrf_token %}
                <h2 id="nick">{{ request.user.username }}</h2>
                <input type="text" id="edit_nick_in" value="{{ request.user.username }}">
                <i class="fas fa-check fa-lg" id="nick_done"></i>
                <i class="fas fa-pencil-alt" id="nick_edit_icon"></i>
            </div> 
        </div>
    </div>
    <div class="col-sm-12" id="second_row">
        <div id="username_and_passwd_bg">
            <label class="text_label">Email</label>
            <div class="input_wrapper">
                <input type="email" value="{{ request.user.email }}" class="in" id="email_in"></input>
                <i class="fas fa-pencil-alt inside_input"></i>
            </div>
            <label class="text_label" id="passwd_label">Password</label>
            <div class="input_wrapper">
                <input type="password" value="***************" class="in" id="passwd_in"></input>
                <i class="fas fa-pencil-alt inside_input" id="passwd_edit_icon"></i>
                <i class="fas fa-check passwd_done_icon" id="old_passwd_done_icon"></i>
                <i class="fas fa-check passwd_done_icon" id="new_passwd_done_icon"></i>
                <i class="fas fa-check passwd_done_icon" id="repeat_passwd_done_icon"></i>
            </div>
            <small class="forgot_passwd mb-4"><a>Forgot your password?</a></small>
        </div>
    </div>
    <div class="col-sm-12" id="third_row">
        <div id="manage_adding_to_groups_bg">
            <label class="text_label">Who can add you to a group?</label>
            <div id="manage_wrapper">
                <p id="everybody">Everybody</p>
                <div id="switch">
                    <div id="switch_inner"></div>
                </div>
                <p id="conversation">Only a person I've started a conversation with</p>
            </div>
        </div>
    </div>
    <div class="col-sm-12" id="fourth_row">
        <button id="done_bt">Done <i class="fas fa-check done_icon"></i></button>
    </div>
  </div> 
</div>
{% endblock content %}

{% block js_links %}
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script type="text/javascript" src="{% static 'users/js/profile.js' %}"></script>
{% endblock js_links %}
