{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load static %}

{% block links %}
  <link rel="stylesheet" href="{% static 'users/css/register.css' %}">
  <link rel="stylesheet" href="{% static 'main/css/transition.css' %}">
{% endblock links %}

{% block content %}
  <div class="transition transition-3 is-active"></div>

  <div class="content-section">
    <form method="post">
      {% csrf_token %}
      <fieldset class="form-group">
        <legend class="border-bottom mb-4">Join Today</legend>
        {{ form|crispy }}
        <div class="form-group center">
          <button type="submit" class="btn btn-outline-info">Sign Up</button>
        </div>
      </fieldset>
    </form>
    <div class="border-top pt-3 small">
      <small class="text-muted">Already have an account? <a href="{% url 'login' %}" class="ml-2">Sign In</a></small>
    </div>
  </div>

  <script type="text/javascript" src="{% static 'main/js/transition.js' %}"></script>
{% endblock content %}
